.container {
    color: rgba(40,40,40,0.9);
    vertical-align: center;
}
.container .jumbotron {
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: rgba(240,240,240,0.8);
}

.container .jumbotron hr{
    display: block;
    height: 1px;
    border: 1em;
    padding: 0; 
    color:  rgba(40,40,40,0.9);
    background-color:  rgba(40,40,40,0.9);
}
