
.navbar {
  white-space: nowrap;
  padding-bottom: 0px;
}

.navbar-collapse.collapse.show {
  background-color: rgba(255,255,255,0.85);
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.navbar-collapse.collapse.show .dropdown-item {
  color: rgba(0,0,0,0.9);
}
.navbar-collapse.collapse.show .dropdown-menu.show {
  margin-top: 0px;
}

.navbar-collapse.collapse.show .dropdown-menu.show .dropdown-item {
  transition: 0.5s;
}

.navbar-collapse.collapse.show .dropdown-menu.show .dropdown-item:hover {
  
  font-weight: bold;
}

.navbar-brand {
  font-size: 33px;
  text-shadow: 2px 1px rgba(255,255,255,0.35);
  line-height: 101%;
  border-radius: 5px;
  padding: 5px 15px 5px 0px;
}

.navbar-brand a {
  background-color: rgba(255,255,255,0.85);
  padding-bottom: 0px;
}

.navbar-brand img {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  height: 31px;
  width: 34px;
  vertical-align: top;
}

.dropdown-toggle.nav-link {
  color: rgba(0,0,0,0.9);
  padding-left: 10px;
}

.dropdown.nav-item > a {
  padding-bottom: 0px;
}

.dropdown-menu.show {
  margin-top:12px;
  border: 0px;
  background-color: rgba(255,255,255,0.85);
}

div.dropdown-menu.show:hover {
  border:white ;
  border-radius: 5px;
  font-weight: bolder;
}

.nav-link.nav-link {
  transition: 0.1s;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 0px;
  font-size: 1.1rem;
}

.nav-link.nav-link:hover {
  border-radius: 5px;
  font-size: 1.15rem;
  font-weight: bolder;
}

.bg-light {
  transition: 0.5s;
  background-color: rgba(255,255,255,0.05) !important;
  padding: 5px 25px 5px 25px;
  border-radius: 0px 0px 5px 5px;
}

.bg-light:hover {
  background-color: rgba(255,255,255,0.3) !important;
  border-bottom: "2px solid white" !important;
}

.navbar-toggler {
  background-color: transparent !important;
  border: none;
}