
.navbar {
/*  border-bottom: 1px solid white; */
  white-space: nowrap;
  padding-bottom: 0px;
}

.dropdown.nav-item > a {
  padding-bottom: 0px;
}

.navbar-brand {
  /* background: rgba(255,255,255,0.75) !important; */
  font-size: 33px;

  text-shadow: 2px 1px rgba(255,255,255,0.35);
  line-height: 101%;
  border-radius: 5px;
  padding: 5px 15px 5px 0px;
}

.navbar-brand a {
  padding-bottom: 0px;
}

.dropdown-toggle.nav-link {
  padding-left: 10px;
}

.nav-link.nav-link {
  transition: 0.5s;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 0px;
}

.nav-link.nav-link:hover {
  background-color: rgba(255,255,255,0.85);
  border-radius: 5px;
  padding-right: 15px;
  padding-left:15px;
  font-weight: bolder;
  padding-left: 10px;
}

.navbar-collapse.collapse.show {
  background-color: rgba(255,255,255,0.9);
  border-radius: 10px;
  margin-bottom: 10px;
}

.dropdown-menu.show {
  margin-top:7px;
  border: 0px;
  background-color: rgba(255,255,255,0.85);
}
.navbar-brand img {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  height: 31px;
  width: 34px;
  vertical-align: top;
}

.bg-light {
  transition: 0.8s;
  background-color: rgba(255,255,255,0.6) !important; 
  border-bottom: "2px solid white" !important;
}

.dropdown-menu.show {
  background: rgba(255,255,255,0.8);
}

.bg-light:hover {
  background-color: rgba(255,255,255,0.3) !important;
  border-bottom: "2px solid white" !important;
}