

.modal-backdrop {
  background-color: rgba(0,0,0,.0001) !important;
}

.modal-content {
  background-color: rgba(240,240,0240,.95) !important;
}

@media all and (max-width: 479px) { 
  .d-flex .col1 {
      display:none;
      width:0;
      height:0;
      opacity:0;
      visibility: collapse;       
  }
  .d-flex  td.col2 {
      font-size: 15px;
  }
  .d-flex  td.col3 {
      font-size: 12px;
  }
  .d-flex .col4 {
      display:none;
      width:0;
      height:0;
      opacity:0;
      visibility: collapse;    
  }
}
  
