.hover:hover {
  margin: 0px -5px 3px -5px;
  background-color: rgba(0,0,0,0.5);
  font-weight: bold;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.0);
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.9);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.board-row-wrapper {
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 3px;
}

.board-row-inner-wrapper {
  
  flex: 2;
  min-width: 280px;
  display: flex;
  flex-direction: row;
}

.board-row-index {
  flex: 1;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.board-row-title {
  flex: 9;
  display: flex;
  flex-direction: row;
  align-items: center
}


.board-row-inner-wrapper2 {
  flex: 1;
  font-size: 15px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.board-row-authorname {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.board-row-datetime {
  flex: 3;
  min-width: 160px;
}

.jumbotron-post-view {
  background: rgba(240, 240, 240, 0.85);
}