@import url('https://fonts.googleapis.com/css?family=Nunito:300,400|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400|Open+Sans|Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jua:400');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400');

body {
  font-family: "Nanum Gothic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

